
.footer {
    display: flex;
    background-color: rgba(249, 147, 147, 0.45);
    padding: 10%;
    width: auto;
    overflow-x: hidden;
   
    

}

.grid-container, .grid-item {

    width: 100%;
    margin: auto;
    justify-content:flex-start;
    color: rgb(162, 152, 152);
    display: flex;
    flex-direction: column;
    flex: 1;

}


.icon-container {
    width: 150%;
    margin: auto;
    color: rgb(230, 221, 221);
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 1.5em;
    gap: 10%;

   
}


.footermap, .google-maps {
    text-align: right; 
    display: flex;
flex-direction: column;
justify-content: flex-end;
flex: 1;

}


.adresstext {
flex-direction: column;
text-align: left;
display: flex;
align-items: right;

}

.footerlogo {
    justify-content: flex-end;

}

/*w3schools flex responsive*/