/*footer*/
.footer {
    display: flex;
    background-color: grey;
    padding: 10%;

}

.footerleft {

    width: 100%;
    margin: auto;
    justify-content:left;
    color: rgb(230, 221, 221);
    display: flex;
    flex: 1;


}

.footermidle {
    width: 100%;
    margin: auto;
    justify-content: center;
    color: rgb(230, 221, 221);
    display: flex;
    flex: 1;
}

.footerright {
text-align: right;
display: flex;
justify-content: flex-end;
flex: 1;

}

.google-maps {
   display: flex; 
   justify-content: flex-end;
    
}

.footerbottom {
text-align: left;
}