* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgb(72, 87, 87);
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    gap: 20px;
}

.navdiv ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

li a {
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 25px;
    transition: color 0.3s;
}

li a:hover {
    color: #dca52d;
}

.logo img {
    width: 100px;
    height: auto;
    margin-left: 10px;

}