* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.navigation {
    background: #585555;
    padding: 15px;
}
.navselection {  /* List of buttons */
    display: flex;
    text-align: right;
    gap: 20px;
}
.navselection a{ /* link elements inside list */
    font-size: 25px;
    font-weight: 450;
    color: rgb(240, 240, 240);
    transition: .4s;
    text-decoration: none;
}

.navselection a:hover {
    color: rgb(213, 169, 10);
    transform: scale(1.1);
}


.navigation img {
    height: auto;
    width: 100px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-buttons a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 20px;
    background: #575757;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-buttons a:hover {
    background: #444;
}