button {
  background-color: rgb(255, 255, 69);
  border-radius: 1%;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline;
  position: relative;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

thead {
  text-decoration: none;
  align-self: start;
  font-size: 20px;
  padding: 5px;
}

thead a:hover {
  background: black;
  color: yellow;

}

dl{
  height: 50px;
  width: 50px;
  background-color: rgb(105, 103, 103);
  box-shadow: 2px 2px 3px black;;
  display: flex;
  justify-content: space-around;
  display: flex;
  width: 500%;
}

.semester{
  height: 50vh;
  width: 50vw
  display: flex;
  align-items: center;
  justify-self: center;
}

