button {
  background-color: rgb(255, 255, 69);
  border-radius: 1%;
  color: black;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline;
  position: relative;
  font-size: 16px;
  margin: 0em 0em;
  cursor: pointer;
}
h4 {
  margin-left: 1em;
  border-radius: 0.1em;

}

h3{
  position:center;
  float:inline-start 
  flex: 1%;
  margin: 0em;
  padding: 2%;
}



.beholder  { 
  text-decoration: none;
  font-size: 18px;
  margin: 0.1% 2% 1%;
  padding: 0.5% 1%;
  word-spacing: 2%;
  color: #000;
  display: inline;
  background-color: whitesmoke;
  height: 40em;
  width: 20em;
  background-color: rgba(255, 255, 255, 0.908);
  border: 0.2em solid #020202;
  display:-ms-inline-grid;;
  cursor: pointer;
  box-sizing: content-box 0.5px;
  border-radius: 1em;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: column;
}

.semester{
  writing-mode:vertical-lr;
  display:inline;
  word-spacing: 1em;
  transform:rotateX('angle')
  background-color: #020202;
  color: white;
  padding: 0.3em;
}


hr.solid {
  border-top: 0.01em solid #8d8d8d;
}

hr.rounded{
  border-top: 0.1em solid black;
  border-radius: 1em;
  
}

a{
  text-decoration:none;
  color: #000;
  text-decoration: underline rgb(218, 235, 250);
}

a:hover {
  text-decoration: underline rgb(1, 2, 5);

}


dd{
  text-align: right;
  font-size: medium;
  font-weight: 150;
  margin-bottom: 6%;
}

#andreår {
width: 60%;
height: 90%;}











